@import url('https://fonts.googleapis.com/css?family=Montserrat');

$primary: #ff8e42;
$secondary: #c85027;
$main-grey: #404040;
$dark-blue: #527bbd;
$light-blue: #8caedc;

* {
    box-sizing: border-box;
}

body {
    color: $main-grey;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    height: 100%;
}

main {
    height: 100%;
}

nav {
    background: rgba(10, 0, 0, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1.5em;
    position: fixed;
    top: 0;
    width: 100%;
    
    #logo {
        height: 50px;
        margin-left: 1em;
        width: 50px;
    }
    
    ul {
        margin: 0;
        
        li {
            color: white;
            display: inline-block;
            margin: 0 1em;
            text-decoration: none;
        }
        
        a {
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.hero {
    background: url(/img/spark-cloud-blur.jpg) #3c1406;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    
    img {
        height: 300px;
        width: 300px;
    }
    
    .tagline {
        color: #c85027;
        font-size: 1.5em;
        letter-spacing: .2em;
        text-transform: uppercase;
    }
    
    .big-message {
        font-size: 1.5em;
    }
}

.project {
    margin: auto;
    padding: 4em;
    
    .content-wrap {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 900px;
        
        img {
            margin-right: 2em;
        }
    }
    
//    &:nth-child(odd) {
//        background: #f9f9f9;
//    }
    
    &:not(last-child) {
        border-bottom: 2px solid #e0e0e0;
    }
}

footer {
    background: #222;
    color: #666;
    padding: 3em;
    text-align: center;
    
    .contact {
        color: $primary;
        display: block;
        font-size: 16px;
        margin: 12px auto;
        text-decoration: none;
        text-transform: lowercase;
    }
    
    .copyright {
        font-size: 12px;
        text-transform: uppercase;
    }
}

//CASE STUDY STYLES

.intro {
    text-align: center;
    max-width: 900px;
}

.article-wrap {
    margin: auto;
    padding: 4em;
    
    article {
        margin: auto;
        max-width: 900px;
    }
    
    .placehold-it {
        background: #999;
        height: 400px;
    }
}

.full-width {
    background: #999;
    height: 600px;
    width: 100%;
}

// RESPONSIVE MENU STYLES

#menu .menu-btn {
    display: none;
}

#menu-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu-item {
    display: inline-block;
    padding: 1em 2em;
}

@media screen and (max-width: 480px) {

    /* menu */

    #menu-list {
        overflow: hidden;
        margin: 0;
        max-height: 0; /* Hides menu */
        transition: max-height .3s ease-out; /* opening transition */
    }

    .menu-item {
        display: block; /* Stacks links */
        padding: .7em;
    }

    /* menu icon */

    #menu .menu-icon {
        cursor: pointer;
        display: block;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }

    #menu .menu-icon .navicon {
        background: #A7ACB3;
        display: block;
        height: 2px;
        margin: auto;
        position: relative;
        transition: background .3s ease-out;
        width: 18px;
    }

    #menu .menu-icon .navicon:before,
    #menu .menu-icon .navicon:after {
        background: #A7ACB3;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .3s ease-out;
        width: 100%;
    }

    #menu .menu-icon .navicon:before {
        top: 5px;
    }

    #menu .menu-icon .navicon:after {
        top: -5px;
    }

    /* menu btn */

    #menu .menu-btn:checked ~ #menu-list {
        max-height: 250px;
    }

    #menu .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    #menu .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
        top: 0;
    }

    #menu .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
        top: 0;
    }
}
