/********** Tablet **********/
@media screen and (max-width: 768px) {
    .project {
        .content-wrap {
        flex-flow: row wrap;
            
            img {
                margin-right: 0;
            }
            
            .project-summary {
                text-align: center;
            }
        }
    }
}

/********** Mobile **********/
@media screen and (max-width: 480px) {
    .project {
        padding: 2em 1em;
        
        .content-wrap {
            img {
                width: 100%;
                max-width: 300px;
            }
        }
    }
    
    .article-wrap {
        padding: 2em 1em;
    }
    
    .hero {
        img {
            height: 200px;
            width: 200px;
        }
    }
}