//===== Typography Styles ======

p {
    line-height: 1.5;
}

h1 {
    color: $primary;
    font-size: 2.2em;
    font-weight: 600;
    margin: 1em 0;
}

h2 {
    color: $primary;
    font-size: 2em;
    font-weight: 600;
    margin: .5em 0;
}

h3 {
    color: $primary;
    font-size: 1.7em;
}

h4 {
    color: $primary;
    font-size: 1.5em;
}

a,
a:visited {
    color: $primary;
    font-weight: 600;
    transition: all .2s ease-out;
}

a:hover,
a:focus {
    color: $secondary;
}

// Button styles

button,
input[type=submit],
a.button {
    background: $primary;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    margin: .5em 1em .5em 0;
    padding: .65em .7em .6em;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-out;
}

button:hover,
button:focus,
button:active,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active,
a.button:hover,
a.button:focus,
a.button:active {
    background: $secondary;
}

a.disabled-button,
a.disabled-button:hover,
{
    background: $light-blue;
}

a.disabled-button:focus,
a.disabled-button:active {
    background: $dark-blue;
}
