
/*STYLES
=======================================*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    color: #2d200c;
    background: linear-gradient(
    rgba(155, 185, 146, 0.45), 
    rgba(155, 185, 146, 0.45)
    ),
    url(../img/subtle_white_mini_waves.png);
}

/*NAV BAR
=======================================*/

nav {
    display: block;
    width: 100%;
    height: 70px;
    background: #2d2003;
    position: fixed;
    top: 0;
    left: 0;
}

nav li {
    display: inline-block;
    float: right;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    list-style: none;
    padding-top: 11px;
    padding-right: 2.5%;
}

li#laurakneeshaw {
    color: #9bb992;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-top: 6px;
}

#laurakneeshaw a:link, 
#laurakneeshaw a:visited {
    color: #9bb992;
    font-size: 1em;
    transition: color .5s;
}

#laurakneeshaw a:hover {
    color: #c5492d;
}

nav li:last-child {
    display: none;
}

/*NAV TRANSITIONS*/

nav a:link, nav a:visited {
    transition: color .25s;
}

/*ARTICLE
=======================================*/

article {
    width: 70%;
    margin: 100px auto 0 auto;
    background: #fffbf3;
    box-shadow: 0 0 10px 0;
    padding: 50px 0 75px 0;
}

section {
    padding: 0 10%;
}

ul {
    padding-left: 2.5em;
}

li {
    list-style: none;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 1em;
    font-weight: 200;
    line-height: 1.25em;
}

#about-image{
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    margin-top: 30px;
}

.italic {
    font-style: italic;
}

/* LINKS */
a:link,
a:visited {
    color: #c5492d;
    font-size: .90em;
    text-transform: uppercase;
    text-decoration: none;
}

a:focus {
    
}

a:hover {
    color: #9bb992;
}

a:active {
    color: #9bb992;
}


/*TYPOGRAPHY
=======================================*/

h1 {
    color: #c5492d;
	font-family: 'Raleway', sans-serif;
	font-size: 2em; /* 32px/16px = 2em */
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
    letter-spacing: 0.025em;
	line-height: 1.625em;
    padding: 10px 0 0 0;
}
h2 {
    font-family: 'Raleway', sans-serif;
	font-size: 1.5em; /* 24px/16px = 1.5em */
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.5em; /* 20px/16px = 1.25em */
}
h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.375em; /* 22px/16px = 1.375em */
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.375em;
}
p {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 1em;
    font-weight: 200;
    line-height: 20px;
}

/*CONTACT FORM
=======================================*/

form {
  background: #9bb992;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

label, input, textarea {
  border: none;
  border-radius: 3px;
  display: block;
  margin: 10px;
}

/* Score: 0,0,1,1 */
input[type=submit] {
  background: #2d2003;
  border: none;
  border-radius: 4px;
  color: #fffbf3;
  padding: 10px;
}

input[type=text], input[type=input], textarea[name=message] {
    background: #fffbf3;
}

input:focus, textarea:focus {
  transition: background .25s;
  outline-color: #d3e6ce;
}

/*PORTFOLIO
=======================================*/

* {
  box-sizing: border-box;
}

/* Layout with Flexbox */
.gallery {
 -webkit-display: flex;
 flex-flow: row wrap;
}

figure {
  /* Note: Figures have default 1em margin. Optionally override. */
  /* Set `flex-basis` to any value */
  -webkit-flex: 1 0 30%;
  margin: 1%;
  
  /* Child & Also Parent   */
  -webkit-display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

/* Specific Gallery Styling. Have Fun! */
figure a img {
    width: 100%;
    min-width: 200px;
    border-radius: 5px;
}

figure figcaption {
 font-size: 1.2em; 
 color: #fffbf3;
 margin: 10px auto;
}

/* Must use div for overlay because there is no overlay element yet */
/* Lightbox Overlay */
/* hide  */
.overlay {
  display: none;
  
/* Overlay Styling   */
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(45, 32, 12, .7);
}

/* show */
.overlay:target {
  display: block;
 
  /* Flexbox Vertical & Horizontal Centering */
  -webkit-display: flex;
  min-height: 50%;
  justify-content: center;
  align-items: center;
  -webkit-flex-direction: column;
}

/* Close Button  */
.overlay a {
  font-size: 1em;
  text-decoration: none;
  text-transform: none;
  color: #fffbf3;
  margin: 10px auto;
  
}

.overlay img {
  max-height: 75%;
  max-width: 90%;
}

/*FOOTER
=======================================*/

footer {
    width: 100%;
    height: 70px;
    background: #2d2003;
    bottom: 0;
    left: 0;
}

footer p {
    color: #9bb992;
    padding-top: 30px;
    text-align: center;
}

/*MEDIA QUERIES
=======================================*/

@media only screen and (max-width: 768px){
    li#laurakneeshaw {
        display: block;
        text-align: center;
        margin: 10px;
    }
    
    nav li {
        display: block;
    }
}