
/*STYLES*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    color: #2d200c;
    background: linear-gradient(
    rgba(155, 185, 146, 0.45), 
    rgba(155, 185, 146, 0.45)
    ),
    url(../img/subtle_white_mini_waves.png);
}

/*NAV BAR*/

nav {
    display: block;
    width: 100%;
    height: 70px;
    background: #2d2003;
    position: fixed;
    top: 0;
    left: 0;
}

nav li {
    display: inline;
    float: right;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    list-style: none;
    padding-top: 11px;
    padding-right: 2.5%;
}

li#laurakneeshaw {
    color: #9bb992;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-top: 6px;
}

/*ARTICLE*/

article {
    width: 70%;
    margin: 70px auto 0 auto;
    background: #fffbf3;
    box-shadow: 0 0 10px 0;
}

section {
    padding: 0 10%;
}

ul {
    padding-left: 2.5em;
}

li {
    list-style: none;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 1em;
    font-weight: 200;
    line-height: 1.25em;
}

#about-image{
    width: 100%;
    max-width: 500px;
    margin-top: 30px;
}

.italic {
    font-style: italic;
}

/* LINKS */
a:link,
a:visited {
    color: #c5492d;
    font-size: .90em;
    text-transform: uppercase;
    text-decoration: none;
}

a:focus {
    
}

a:hover {
    color: #9bb992;
}

a:active {
    color: white;
    background: blue;
}

/*TYPOGRAPHY*/

h1 {
    color: #c5492d;
	font-family: 'Raleway', sans-serif;
	font-size: 2em; /* 32px/16px = 2em */
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
    letter-spacing: 0.025em;
	line-height: 1.625em;
    padding: 10px 0 0 0;
}
h2 {
    font-family: 'Raleway', sans-serif;
	font-size: 1.5em; /* 24px/16px = 1.5em */
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.5em; /* 20px/16px = 1.25em */
}
h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.375em; /* 22px/16px = 1.375em */
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.375em;
}
p {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 1em;
    font-weight: 200;
    line-height: 20px;
}

/*FOOTER*/

footer {
    width: 100%;
    height: 70px;
    background: #2d2003;
    bottom: 0;
    left: 0;
}

footer p {
    color: #9bb992;
    padding-top: 30px;
    text-align: center;
}
